:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--very-light-gray);
  flex-direction: column;
}

.container {
  /* width: 80vw; */
  /* height: 144vh; */
  margin-top: 10vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 20rem;
}

.card {
  width: 80vw;
  padding-left: 2rem;
  max-width: 400px;
}

.card:first-of-type {
  background: var(--bright-orange);
}

.card:nth-of-type(2) {
  background: var(--dark-cyan);
}

.card:nth-of-type(3) {
  background: var(--very-dark-cyan);
}

img {
  margin-top: 1.2rem;
  height: 10%;
}

span {
  display: block;
  margin: 0.8rem 0;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-light-gray);
  height: 20%;
}

p {
  margin: 0.8rem 0 0;
  padding-right: 2.2rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 0.92rem;
  color: var(--Transparent-white);
  height: 50%;
}

.btn_area {
  height: 20%;
}

button {
  margin: 0.8rem 0 1rem;
  border: 1px solid var(--very-light-gray);
  background: var(--very-light-gray);
  font-family: 'Lexend Deca', sans-serif;
  width: 50%;
  padding: 0.7rem 0;
  border-radius: 50px;
  cursor: pointer;
}

#btn1 {
  color: var(--bright-orange);
}

#btn2 {
  color: var(--dark-cyan);
}

#btn3 {
  color: var(--very-dark-cyan);
}

#btn1:hover,
#btn2:hover,
#btn3:hover {
  color: var(--very-light-gray);
  background: transparent;
}

footer {
  margin-bottom: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  width: 80vw;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--bright-orange);
}

a:hover {
  color: var(--very-dark-cyan);
}

/* tablet */
@media (min-width: 768px) {
  html {
    font-size: calc(var(--font-size) * 1.15);
  }

  .container {
    flex-direction: row;
    width: 90vw;
    max-width: 900px;
    height: 70vh;
    margin-bottom: 0;
  }

  .card {
    max-width: auto;
    padding: 0.8rem 0 2rem 2rem;
    width: 33.334%;
  }

  p {
    height: 40%;
  }

  footer {
    margin-top: 1rem;
  }
}
